---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Eliminació del Compte en Sabuts</h1>
    <p>
      La secció d'eliminació del compte us permet eliminar completament la
      vostra presència a Sabuts. Aquest procés és irreversible i implica
      l'eliminació de totes les vostres dades associades. Quan sol·liciteu
      l'eliminació del vostre compte, es durà a terme el següent procés:
    </p>
    <section>
      <article>
        <h2>Passos per eliminar el vostre compte</h2>
        <ol>
          <li>Obriu l'aplicació Sabuts al vostre dispositiu.</li>
          <li>Aneu a la secció "Perfil" i feu clic al botó de Configuració.</li>
          <li>Seleccioneu l'opció "Eliminar compte".</li>
          <li>
            Llegiu atentament la informació sobre les conseqüències de
            l'eliminació.
          </li>
          <li>Confirmeu la vostra decisió.</li>
        </ol>
      </article>
      <article>
        <h2>Eliminació del compte d'usuari</h2>
        <p>
          Es suprimirà el vostre compte, incloent-hi les vostres credencials
          d'inici de sessió.
        </p>
      </article>

      <article>
        <h2>Eliminació de dades de joc</h2>
        <p>
          Totes les vostres partides registrades seran eliminades permanentment
          de la base de dades.
        </p>
      </article>

      <article>
        <h2>Eliminació de dades socials</h2>
        <p>
          Es suprimiran totes les sol·licituds d'amistat que hagueu enviat o
          rebut i s'eliminarà el vostre llistat d'amics.
        </p>
      </article>

      <article>
        <h2>Eliminació del perfil d'usuari</h2>
        <p>
          Es suprimirà completament el vostre perfil d'usuari i tota la
          informació associada.
        </p>
      </article>
    </section>

    <p>
      Aquest procés assegura que totes les vostres dades personals i d'activitat
      siguin completament eliminades dels nostres sistemes. Un cop completat, no
      hi haurà manera de recuperar aquesta informació.
    </p>
    <p>
      Si esteu segurs de voler procedir amb l'eliminació del vostre compte,
      seguiu els passos indicats a l'aplicació. Recordeu que aquesta acció és
      definitiva i no es pot desfer.
    </p>
    <p>
      Per a qualsevol dubte o assistència durant aquest procés, no dubteu a
      contactar amb el nostre equip de suport.
    </p>
  </main>
</Layout>
