---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <h1>Política de privacitat de Sabuts</h1>
    <p>
      Benvinguts a Sabuts. Respectem la vostra privadesa i ens comprometem a
      protegir les vostres dades personals. Aquesta política de privadesa us
      informarà sobre com cuidem les vostres dades personals quan utilitzeu la
      nostra aplicació i us explicarà els vostres drets de privadesa i com la
      llei us protegeix.
    </p>
    <section>
      <article>
        <h2>Dades que recopilem</h2>
        <p>Recopilem els següents tipus d'informació:</p>
        <ul>
          <li>Informació personal: nom i adreça de correu electrònic.</li>
          <li>
            Informació del compte d'usuari: nom d'usuari i llista d'amics.
          </li>
          <li>Dades de rendiment del joc: puntuacions i progrés.</li>
        </ul>
      </article>

      <article>
        <h2>Com utilitzem les vostres dades</h2>
        <p>Utilitzem les vostres dades personals per als següents propòsits:</p>
        <ul>
          <li>Per registrar i mantenir el vostre compte d'usuari.</li>
          <li>Per permetre la funcionalitat social d'afegir amics.</li>
          <li>Per mostrar puntuacions i progrés en el joc.</li>
          <li>Per millorar i optimitzar l'experiència de joc.</li>
        </ul>
      </article>

      <article>
        <h2>Compartir dades</h2>
        <p>
          No compartim les vostres dades personals amb tercers, excepte en les
          següents circumstàncies:
        </p>
        <ul>
          <li>
            Quan sigui necessari per al funcionament de l'aplicació (per
            exemple, serveis d'allotjament).
          </li>
          <li>Quan estiguem obligats per llei o per una ordre judicial.</li>
        </ul>
      </article>

      <article>
        <h2>Seguretat de les dades</h2>
        <p>
          Prenem molt seriosament la seguretat de les vostres dades. Utilitzem
          Firebase per a l'emmagatzematge i processament de dades, que
          proporciona xifratge de dades en trànsit i en repòs.
        </p>
      </article>

      <article>
        <h2>Els vostres drets</h2>
        <p>Teniu dret a:</p>
        <ul>
          <li>Accedir a les vostres dades personals.</li>
          <li>Corregir dades inexactes.</li>
          <li>Sol·licitar l'eliminació de les vostres dades.</li>
          <li>Sol·licitar la transferència de les vostres dades.</li>
        </ul>
      </article>

      <article>
        <h2>Retenció de dades</h2>
        <p>
          Conservarem les vostres dades personals només durant el temps
          necessari per als fins establerts en aquesta política de privadesa.
        </p>
      </article>

      <article>
        <h2>Canvis en aquesta política</h2>
        <p>
          Podem actualitzar la nostra política de privadesa de tant en tant. Us
          notificarem qualsevol canvi publicant la nova política de privadesa en
          aquesta pàgina i, si els canvis són significatius, us enviarem una
          notificació a través de l'aplicació.
        </p>
      </article>

      <article>
        <h2>Contacte</h2>
        <p>
          Si teniu preguntes sobre aquesta política de privadesa o sobre com
          tractem les vostres dades, podeu contactar-nos a:
        </p>
        <ul>
          <li>Correu electrònic: jbohigues.playstore@gmail.com</li>
        </ul>
      </article>
    </section>

    <p>Última actualització: 02/02/2025</p>
    <p>
      Gràcies per confiar en Sabuts. El vostre dret a la privadesa és fonamental
      per a nosaltres i estem compromesos a protegir les vostres dades personals
      en tot moment.
    </p>
  </main>
</Layout>
